body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

input {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  font-size: 8px;
  border: 1px solid gray;
  color: gray;
  margin-right: 20px;
  cursor: pointer;
  margin-bottom: 15px;
}

#cvv {
  width: 15%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(241, 241, 241);
}

input[type="submit"] {
  background-color: rgb(200, 229, 255);
  font-weight: 600;
}
